
#first_fold_container{
    display: flex;
}

.left_box_bgImg{
    height: 660px;
    width: 100%;
}

.left, .right{
    width: 45vw;
    padding-left: 4vw;
    position: relative;

}
.width-100{
    width: 100%;
}


h1{
    margin-top: 130px;
    text-align: left;

}
p{
    font-size: .91em;
    font-weight: 500;
    text-align: left;
    color: #202020;
    margin-bottom: 70px;
}

.right{
    margin-top: 15px;
}
.common-css{
    height: 10vh;
    width: 5vw;
    position: absolute;
}
.grub_img{
   
    left: 30%;
    top: -15px;
}
.uber_img{
   
    left: 62%;
    top: -2px;
}
.other_img{
    top: 38vh;
     left: 6%;
}
.amazon_img{
    left: 70%;
    top: 45vh;
}
.zomato_img{
    left: .6%;
    top: 80vh;

}
.swiggy_img{
    left: 30%;
    top: 94vh;
}

